*{
    font-family: 'Figtree', sans-serif;
font-family: 'Passion One', sans-serif;

font-family: 'Figtree', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Passion One', sans-serif;
font-family: 'Roboto', sans-serif;

}


body{

    margin: 0;
    padding: 0;
   
    /* align-items: center;
    display: flex; */
    background-color: #997F67;
    background-image:url(../img/img-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-attachment: fixed;
    background-attachment: fixed;
    
}
/* section{
    display: flex;
    align-content:center ;
    align-items: center;
} */

a{
    left: 50%;
    right: 50%;
    display: inline-block;
    text-decoration: none;
}

.nave{

    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    /* display: inline-flex;
    justify-items: center;
 */
    width: 100%;

    /* border: 13px solid black; */

    text-align: center;
    position: relative;
    list-style-type: none;
}

ul { 
    left: 50%;
    right: 50%;
    
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    
    list-style: none;
    text-decoration: none;
    display: inline-flex;
}

li{
    gap: 2000px;
    list-style-type: none;
    text-decoration: none;
    
    text-decoration: none;
    margin: 30px;
    
}


.container{
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
    /*  margin: 0px 360px 0px 360px;  */

    width: 90%; /* ou outra porcentagem que desejar */
    max-width: 1200px;
    
    /* width: 1200px; */
    height: 100%;
    background-color: #CCBEB1 ;
    opacity: 54%;

    /*chat gpt  fez  a boa */

    min-height: 100vh; /* Define a altura mínima do contêiner como 100% da altura da viewport */
    display:table;
    flex-direction: column;
    /* justify-content: space-between; */

}
/*footer{

     padding: 7px; 
    width: 100%; 
    height: 21px;
    
    background-color:#664A30;

    margin-top: auto;
}*/


footer{
    font-family: 'Figtree', sans-serif;
    font-weight: 100;
    padding: 5px 0px 5px 0px;
    color: white;
    background-color: #664A30 solid;
    opacity: 100%;

    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: auto;
    background-color: #664A30 ;

    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    
}

a{
    font-family: 'Passion One', sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-top: 12px;
    color: #664A30;
}


h1{
    font-family: 'passion one', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin: 0px 0px 20px 120px;
    color: #664A30;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-h1{
    margin-top: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

h2{
    font-family: 'Figtree', sans-serif;
    
    font-weight: 100;
    margin: 0px 0px 20px 120px;
    color: #664A30;
    margin-top: 30px;
    margin-bottom: 30px;

}

.link-home{
    font-size: 30px;
    font-family: 'passion one', sans-serif;
    font-weight: 400;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 5px 30px 5px;

}

.h2-home{
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    font-size: 30px;
    font-family: 'passion one', sans-serif;
    font-weight: 400;
    text-align: center;
}


#p-home{

    
    text-align:center;
}
p{
    font-family: 'Figtree', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 18px 220px;
    color: #664A30;
    padding: 20px;

}
/* 
#copy-texto{
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    font-size: 30px;
    font-family: 'passion one', sans-serif;
    font-weight: 400;
    text-align: center;

}

#hdois{
    text-decoration: underline;
    font-family: 'passion one', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;


}
 */


article{
    margin-top: 0px;
}

