@import url('layout.css');

body{
    /* align-items: center;
    display: flex; */
    /* background-color: #997F67; */
    background-image:url(../img/img-servicos.png);
    background-attachment: fixed;
   
}


#cafes-especiais{
     margin-right: auto;
     margin-left: auto;
}

.title-h1{
   /*  margin-left:120px; */
    margin-top: 40px;
}
#copy-texto{
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    font-size: 30px;
    font-family: 'passion one', sans-serif;
    font-weight: 400;
    text-align: center;

}

#texto-sobre{
    margin-left: 120px;
    text-align: left;
}

#sobre{
    width: 100vh;
    margin: 30px;
} 

#publi{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-family: 'passion one', sans-serif;
    font-weight: 400;
}
#hchamada{

    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    font-size: 36px;
    text-align: center;
}
#cardapio-1{
    
    margin-top: 100px;
}
.menu-item-1{
    border: #664A30 4px;
    border-style:ridge;
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */

    width: 100vh;
    margin: 30px;
    padding: 30px; 
    background-color: rgb(255, 219, 186, 0.3);
    /* margin: 40px 0px; */
}
.hcard{
    font-family: 'passion one', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin: 0px 0px 20px 120px;
    color: #664A30;
    
    
    /* margin: auto; */
    text-align: left;
    align-items: 0px 25px;
}


#hdois{
    text-decoration: underline;
    font-family: 'passion one', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;


}
.item-name{
    display: list-item;
}

/* #cafes-especiais{

    
    font-size: 35px;
     text-align: left ;
     margin: auto;
} */

.item-name, .item-price{
    font-family: 'passion one', sans-serif;
    font-size: 29px;
    font-weight: 100;
   /*  margin: 0px 0px 20px 120px; */
    color: #664A30;
}

.item-description{
    margin: 18px 20px;
    text-align: left;
    margin-left: 0px;

}
.item-price{
    text-align: right;
    text-decoration: underline;
}

h1{
    font-family: 'passion one', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin: 0px 0px 20px 120px;
    color: #664A30;
}

#link-home{
    display: flex;
    align-items: center;
    margin: 0 auto;
}



